{
    margin:0;/*remove a margem*/
    padding:0;/*remove o preenchimento*/
    box-sizing:border-box;/*faz com que  a padding e a borda sejam incluídos no tamonho do elelmento*/ 
}

{
    font-famiely:arial,sans-serif;/*define a fonte padrão da página*/
    



}














